/***** TAG   SELECTOR  *****/

body {
    display : flex;
    align-items : center;
    justify-content : center;
    height : 100vh;
    flex-direction: column;
    overflow-x : hidden;
    background-color: hsl(30, 38%, 92%);
}


/***** CLASS SELECTOR  *****/
.card {
    width: 50rem;
    height: 37.5rem;
    background-color: white;
    border-radius: 1rem;
    font-size: 1rem;
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-left {
    width: 25rem;
    height: 37.5rem;
}

.card-left img {
    width: 25rem;
    border-radius: 1rem 0 0 1rem;
}

.card-right {
    width: 20rem; /*25*/
    height: 32.5rem; /*37.5*/
    display: flex;
    padding: 2.5rem;
    flex-direction: column;
}

.prod-name p {
    margin: 1rem 0;
}

.prod-type-style {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5rem;
    color: #868892;
}

.prod-name-style {
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.1;
}

.prod-desc-style {
    font-family: 'Montserrat', sans-serif;
    color: #868892;
    line-height: 1.65;
    letter-spacing: 0.03rem;
}

.prod-price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.prod-discount-price-style {
    color: #3D8168;
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.prod-original-price-style {
    color: #868892;
    font-family: 'Fraunces', serif;
    text-decoration: line-through;
}

.btn {
	background-color:#3D8168;
	border-radius: 1rem;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size: 1rem;
	padding: 1rem 6rem;
    margin-top: 2rem;
	text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn img {
    width: 1rem;
}

.btn:hover {
	background-color:#1A4031;
}


.attribution {
    margin-top: 3rem; 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-family: 'Fraunces', serif;
}

/*


font-family: 'Fraunces', serif; --> heading and price
font-family: 'Montserrat', sans-serif; --> other

*/